body, html {
  height: 100%;
  margin: 10px 0 0 0;
  color: white;
}
body {
  background-color: #222222;
}

td.number-1 { color: #B894F6 }
td.number-2 { color: #d2f694 }
td.number-3 { color: #f694d2 }
td.number-4 { color: #f6b894 }
td.number-5 { color: #BCAAA4 }
td.number-6 { color: rgb(152, 152, 255) }
td.number-7,
td.number-8 { color: #B0BEC5 }

i.fa-flag {
  color: #ff4545
}

table {
  /* center */
  margin-left: auto;
  margin-right: auto;

  border-collapse: collapse;
}
td {
  text-align: center;
  font-weight: bold;
  border: 1px solid #444444;
  padding: 4px;
  width: 19px;
  height: 19px;
  cursor: default;

  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none;    /* Firefox all */
  -ms-user-select: none;     /* Internet Explorer 10+ */
  user-select: none;         /* Likely future */

  &.hidden {
    background-color: #333333;
    cursor: pointer;
    &:hover {
      background-color: #444444;
    }
  }
}